<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.exampledemo.parsaniahardik.scanbarcodeqrdemonuts">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ScanActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".SettingActivity"></activity>

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>


        <meta-data
            android:name="DATABASE"
            android:value="Settings.db" />
        <meta-data
            android:name="VERSION"
            android:value="2.1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.exampledemo.parsaniahardik.scanbarcodeqrdemonuts" />



        <receiver
            android:name=".BasicDeviceAdminReceiver"
            android:label="@string/admin_permission_label"
            android:description="@string/admin_permission_description"
            android:permission="android.permission.BIND_DEVICE_ADMIN">

            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>


        <service
            android:name=".BackendServiceIntent"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <service
            android:name=".JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            ></service>

    </application>

</manifest>